<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61107877767-q3cv327ivgn9c9pbqfsdpdtab42lj0vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61107877767-q3cv327ivgn9c9pbqfsdpdtab42lj0vn</string>
	<key>API_KEY</key>
	<string>AIzaSyBibC1t-BMf19IMWkMR9ldx9SaR6AldxJk</string>
	<key>GCM_SENDER_ID</key>
	<string>61107877767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.debts.debtTracker</string>
	<key>PROJECT_ID</key>
	<string>debts-debt-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>debts-debt-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61107877767:ios:28d5f30e52740b9bd64522</string>
</dict>
</plist>